name: CI/CD

on:
    push:
        branches:
            - master

jobs:
    tests:
        name: Coding standards and unit tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Use Node.js 14.x
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x
            - name: Install JS dependencies (npm install)
              run: npm ci
            - name: ESLint (JS)
              run: npx eslint
            - name: Run unit tests
              run: npm test
    docker-push:
        needs: tests
        name: Docker build & push
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              name: Check out code

            - uses: mr-smithers-excellent/docker-build-push@v5
              name: Build & push Docker image
              with:
                image: koalati/tools-service
                tags: latest
                registry: docker.io
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
    deploy:
        needs: docker-push
        name: Digital Ocean re-deployment
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              name: Check out code
            - name: curl
              uses: wei/curl@v1
              with:
                args: "-X POST -H \"Content-Type: application/json\" -H \"Authorization: Bearer ${{ secrets.DIGITALOCEAN_DEPLOY_TOKEN }}\" \"https://api.digitalocean.com/v2/apps/${{ secrets.DIGITALOCEAN_APP_ID }}/deployments\""
